/* ================== ~NAGIVATION STARTS~ =================== */

.App-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  transition: 0.4s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.App-logo {
  margin: 0 90px;
}

.App-logo h1 {
  font-size: 26px;
  padding: 0 0 0 8px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid #e38434;
  padding-right: 500px;
}
.App-logo h1 a {
  color: #545454;
}
.nav-img {
  width: 32px;
  border-radius: 50%;
  opacity: 0;
}
.profile-name {
  opacity: 0;
}
.nav-list,
.nav-link {
  display: flex;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: black;
  font-weight: 600;
}
.nav-list {
  justify-content: space-around;
}
.nav-list a {
  padding: 0 15px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.App-nav .lessons{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px dotted #e38434;
  padding: 7px;
}

.nav-icon {
  font-size: 1.2rem;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .Languages {
    animation: Languages-spin infinite 20s linear;
  }
}

@keyframes Languages-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

/*
@media screen and (min-width: 770px) {
  .Languages{
    padding-left: 800px;
    box-sizing: border-box;
  }
  .App-header{
    padding-right: 800px;
    box-sizing: border-box;
  }
} */

@media screen and (max-width: 767px) {
  .App-header {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
    box-sizing: border-box;
  }
  .App-logo {
    margin: 0;
  }
  .App-logo h1 {
    padding-right: 0;
  }
  .profile-name {
    margin: 0;
    opacity: 1;
  }
  .nav-img {
    opacity: 1;
  }
  .nav-list a {
    font-size: 10px;
    font-weight: normal;
    text-transform: capitalize;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .nav-icon {
    display: none;
  }
}

/* ================== ~ABOUT STARTS~ =================== */
.sidebar {
  width: 20%;
  float: left;
  color: #545454;
  background-color: #fff;
  border: 2px solid #f5f4f4ef;
  border-radius: 10px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.bio h3 {
  margin: 10px;
}
.qua-description {
  margin-bottom: 15px;
  padding: 10px;
}
.bio .userprofile-img {
  width: 100px;
  height: 100px;
  display: inline;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 1s;
  margin-top: 10px;
}

.sidebar ul {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar li a {
  justify-content: space-between;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.content {
  word-wrap: break-word;
  width: 77%;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  padding: 20px 25px;
  box-sizing: border-box;
  border: 2px dotted #ece3e3ee;
  border-radius: 10px;
  background-color: #fff;
  /* transform: rotate(-12deg); */
  /* transform: scale(1.5); */
  /* transform: skewY(10deg) skewX(-45deg); */

  /* transform: rotate(10deg) scale(0.5); */
  /* transform: scale(1.5);
    transform-origin: 100% 0; */

  /* transform: translateY(40px) translateX(100px);
    transform: translate(40px, 299px); */
}

.content .pop-words {
  width: 50%;
  float: left;
  padding-top: 15px;
}
.pop-words h1 {
  margin-bottom: 15px;
}
.content .about {
  width: 50%;
  float: left;
  padding-top: 15px;
  margin: 0;
}
.slide-bar {
  width: 160px;
  height: 30px;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
  animation: mymove 5s infinite;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.about h1 {
  margin-bottom: 15px;
}

.about .btn-contact {
  color: #e38434;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn-contact:hover {
  color: #fff;
  background-position: left bottom;
}
.content h5 {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.popEffect {
  padding: 20px 0;
  text-align: center;
}

#div1 {
  background-color: #e38434;
}
#div2 {
  background-color: #b17d53;
}
#div3 {
  background-color: #d16811;
}
#div4 {
  background-color: #e38434;
}
#div5 {
  background-color: #afaaa6;
}

#div1 {
  animation-timing-function: linear;
}
#div2 {
  animation-timing-function: ease;
}
#div3 {
  animation-timing-function: ease-in;
}
#div4 {
  animation-timing-function: ease-out;
}
#div5 {
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: 90%;
  }
  .content .pop-words {
    display: none;
  }
  .content .about {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 767px) {
  .content {
    width: 75%;
  }
}

/* ================== ~ABOUT END~ =================== */

/* ================== ~CONTACT STARTS~ =================== */

.contact {
  width: 100%;
  margin: 70px 0 0 200px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #f3f3ef;
}
.contact-social {
  width: 25%;
  float: left;
  padding: 30px 20px;
  text-align: left;
  font-size: large;
  display: block;
  border-right: 5px dotted #dcdaa9;
}
.contact-social a{
  color:black;
}
.contact-form {
  width: 55%;
  float: left;
  padding-left: 50px;
  box-sizing: border-box;
}
.contact-form p {
  padding-bottom: 40px;
}
.contact h1 {
  padding: 20px 0;
}
.form {
  text-align: left;
  padding: 0;
  margin: 0;
}
.contact-form .text-message {
  margin-top: 10px;
}

.contact-form .btn-contact {
  margin-top: 20px;
  float: left;
  color: black;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn-contact:hover {
  color: #fff;
  background-position: left bottom;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #545454;
}
input[type="text"]:focus,input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,textarea:focus {
  background-color: rgb(205, 236, 246);
}
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: both;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .contact-social {
    width: 90%;
    float: none;
    text-align: center;
  }
  .contact {
    margin: 70px 0 0 0;
    padding: 0 0 50px 0;
  }
  .contact h1 {
    padding: 20px 0;
  }
  .contact-form {
    width: 98%;
    padding: 0 10px;
  }
  .contact p {
    padding: 10px 5px;
  }
}
/* ================== ~CONTACT END~ =================== */

/* ================== ~PROJECTS STARTS~ =================== */
.proj h1{
  text-align: center;
}


.projects {
  height: 100%;
  background-image: url(../assets/images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  width: 95%;
  overflow-x: hidden;
}
.projects .right {
  display: flex;
  justify-content: space-between;
}
.services-wrap {
  display: block;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 1px;
  padding: 30px 40px 30px 50px;
}
.services-wrap:first-child {
  margin-top: 1px;
}
.services-wrap:after {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  content: "";
  width: 360%;
  background: rgba(255, 255, 255, 0.8);
}
.services-wrap h2 {
  padding: 10px;
  color: black;
  font-size: 24px;
}
.services-wrap p {
  padding-left: 10px;
  color: #545454;
  margin-bottom: 0;
}
.services-wrap .git{
  float: right;
  margin-right: 55px;
  font-size: 35px;
}
.services-wrap .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
}
.services-wrap .icon span {
  font-size: 20px;
  color: #545454;
}
.services-wrap .icon span:first-child {
  opacity: 0;
}
.services-wrap .icon span:last-child {
  opacity: 1;
}
.services-wrap:hover {
  margin-left: -100px;
}
.services-wrap:hover .icon span:first-child {
  opacity: 1;
  margin-left: 5px;
}
.services-wrap:hover .icon span:last-child {
  opacity: 0;
}

/* ================== ~PROJECTS END~ =================== */

/* ================== ~Skills STARTS~ =================== */
.skills h1 {
  text-align: center;
}
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #e38434;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #e38434;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 50%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}
.mainzone {
  background: #ddd;
  border-radius: 4px;
  height: 32px;
  margin-top: 50px;
  border-radius: 4px;
  margin: 50px;
}
.mainzone h2{
  padding-top: 5px;
}
.progress-1 {
  background: #3498db;
  width: 90%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-2 {
  background: #a04000;
  width: 65%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-3 {
  background: #154360;
  width: 40%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-4 {
  background: #5b2c6f;
  width: 25%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-5 {
  background: #e38434;
  width: 60%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-6 {
  background: #0b5345;
  width: 20%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.progress-7 {
  background: black;
  width: 80%;
  height: 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.rating{
  text-align: center;
  padding-bottom: 65px;
}
.rating h3{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #545454;
  padding-bottom: 10px;
}
h2 {
  padding-left: 15px;
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  h2 {
    line-height: 1.6;
  }
}
/* ================== ~Skills END~ =================== */

/* ================== ~ASSIGNMENT STARTS~ =================== */
.counter {
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  padding: 25px;
  text-align: center;
}
.counter .form-control {
  border-color: transparent;
  height: 28px;
  text-align: center;
}
.counter .btn-count {
  background-color: transparent;
  border-color: transparent;
  color: #e38434;
  font-size: 20px;
  padding: 3px 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.counter .btn-count:hover{
  background-color: #ced4da;
}
.jsonContent{
  border: 2px dotted #e38434;
  border-radius: 50px;
}
.jsonData{
  justify-content: center;
  text-align: center;
  margin: 30px;
  padding: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #f3f3ef;
}
.jsonData h1{
  padding-bottom: 20px;
}
/* ================== ~ASSIGNMENT STARTS~ =================== */


/* ================== ~FOOTER STARTS~ =================== */

.footer {
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 40px;
}
.footer p {
  padding: 5px 0;
}

/* ================== ~FOOTER END~ =================== */
